<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>valet-parking-manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>valet-parking</servlet-name>
    <!-- Fully qualified path name (with package name)  -->
    <servlet-class>com.vpm.ValetParkingSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valet-parking</servlet-name>
    <url-pattern>/valet-parking</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>valet-parking-insert</servlet-name>
    <servlet-class>com.vpm.ValetParkingInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valet-parking-insert</servlet-name>
    <url-pattern>/valet-parking-insert</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>valet-parking-delete</servlet-name>
    <servlet-class>com.vpm.ValetParkingDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valet-parking-delete</servlet-name>
    <url-pattern>/valet-parking-delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>valet-parking-update</servlet-name>
    <servlet-class>com.vpm.ValetParkingUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valet-parking-update</servlet-name>
    <url-pattern>/valet-parking-update</url-pattern>
  </servlet-mapping>
  
  <!-- Error and Exception -->
  
<!--  
If no error-page declaration containing an exception-type fits using the class-hierarchy match,
and the exception thrown is a ServletException or subclass thereof, 
the container extracts the wrapped exception, as defined by the ServletException.getRootCause method. 
A second pass is made over the error page declarations, 
again attempting the match against the error page declarations, 
but using the wrapped exception instead.
 -->  
  <servlet>
    <servlet-name>exception-handler</servlet-name>
    <servlet-class>com.vpm.ExceptionHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exception-handler</servlet-name>
    <url-pattern>/exception-handler</url-pattern>
  </servlet-mapping>
  
<!-- NOTE: Error Code example and JSP Exception Handling page -->
  <error-page>
    <error-code>404</error-code>
    <location>/error-page-not-found.jsp</location>
  </error-page>
  
<!-- NOTE: Exception Type example -->
  <error-page>
    <exception-type>java.lang.IOException</exception-type>
    <location>/exception-handler</location>
  </error-page>

  <!-- Default Error Page -->
  <error-page>
    <location>/exception-handler</location>
  </error-page>  
</web-app>